
.header {
    background-color: grey;
    text-align: center;
    color: white;
}

.header .h1 {
    font-weight: bold ;
}

.header p {
    font-weight: bolder;
    font-style: italic;
    color: brown;
}



.footer {
    background-color: gray;
    text-align: center;
}

